@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
};
@plugin "@tailwindcss/typography";

/* Import custom theme after DaisyUI */
@import "./design/theme.css";

/* Tailwind Container Configuration */
@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
  }
}

/* DaisyUI Component Overrides */
@layer components {
  .label {
    color: var(--color-base-content);
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
    font-size: var(--text-lg);
    display: flex;
  }
  
  .label-text {
    font-size: inherit;
  }
  
  .collapse > input:is([type="checkbox"], [type="radio"]) {
    min-height: 0;
    padding: 0;
  }
  
  .join {
    border-radius: var(--radius-field);
  }
  
  .input {
    height: 48px;
    font-size: 1rem;
  }
  
  .input:focus, 
  .input:focus-within {
    border-color: var(--color-primary);
    outline: none;
  }
  
  .badge {
    padding-inline: calc(0.25rem * 2 - var(--border));
  }
}

/* Setup library CSS Variables */
:root {
  --swiper-navigation-size: 30px !important;
  --swiper-navigation-color: var(--color-secondary);
  --swiper-pagination-color: var(--color-primary);
}

.swiper:not(.swiper-initialized) {
  visibility: hidden !important;
}

/* extra space for iphone users */
@supports (-webkit-touch-callout: none) {
  .mobile-footer {
    padding-bottom: 8px;
  }
}

/* Target only number inputs */
/* remove up & down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom styles for your kiosk app */
@layer base {
  .marquee-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  /* don't remove */
  /* it fixes input background color related bug on chrome devices */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
  }
  input[type="number"] {
    appearance: textfield; /* Standard property */
    -moz-appearance: textfield; /* For Firefox */
  }
  /* fixing tw4 default behaviour */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
     scrollbar-gutter: stable;
  }
}
